<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <!-- <link rel="icon" href="%PUBLIC_URL%/favicon.ico" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Nebula</title>
</head>

<body>
  <noscript>You need to enable JavaScript to view this site.</noscript>

  <div id="canvas-container"></div>

  <div class="controls">
    <input type="range" min="0" max="100" value="50" class="slider" id="sliderValue1">
    <label for="sliderValue1">Slider value 1</label>
    <input type="range" min="1" max="100" value="50" class="slider" id="sliderValue2">
    <label for="sliderValue2">Slider value 2</label>
    <input type="range" min="1" max="100" value="50" class="slider" id="sliderValue3">
    <label for="sliderValue2">Slider value 3</label>
    <input type="range" min="1" max="100" value="50" class="slider" id="sliderValue4">
    <label for="sliderValue2">Slider value 4</label>
    <input type="range" min="1" max="100" value="50" class="slider" id="sliderValue5">
    <label for="sliderValue2">Slider value 5</label>
  </div>
</body>

</html>
