$accent: #9edcff;
$light: #ffffff;
$light-dimmed: #adb9c2;
$dark: rgba(13, 16, 19, 0.7);
$dark-dimmed: #34404b;

$darkbg1: #212c3d;
$darkbg2: #151d22;
$lightbg: #d7dee6;

$headerFont: "Playfair Display";
$headerFont2: "Crimson Text";
$mainFont: "PT Serif";
