.icon-vertical-dots {
  mask-image: url(assets/vertical-dots.svg);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}

.icon-arrow-up {
  mask-image: url(assets/arrow-up.svg);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}
