@import "css/config.scss";

.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: all 300ms ease-in;
  flex: 0 0 52px;
}

.list {
  flex: 1 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  font-size: 32px;
  margin: 42px 32px 32px 32px;
  color: white;
  font-weight: 600;
}
